.emacs.desktop

.emacs.d/.emacs.desktop.lock

.emacs.d/elpa/archives/gnu/archive-contents

.emacs.d/elpa/archives/marmalade/archive-contents

.emacs.d/elpa/archives/melpa/archive-contents

.emacs.d/elpa/*-readme.txt

.emacs.d/auto-save-list/*

.emacs.d/url/*

.emacs.d/var/*

.emacs.d/eshell/*

#*#